*{
    margin: 0;
    padding: 0;
}



.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 150px;
    background-color: #1f2937;
}



.nav{
    display: flex;
    font-size: 8px;
    gap: 10px;
    list-style: none;

}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 8px;
    padding: 0 5px;
}

.header-2{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    gap: 30px;
    padding: 40px 0;
}

.headline{
    width: 15em;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 20px;
    color: #f9faf8;
}

.p-header{
    font-size: 9px;
    color: #E5E7EB;
    margin: 3px 0;
}

.button{
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 9px;
    font-weight: bold;
}

.main{
    display: flex;
    flex-direction: column;
}

.div1{ 
    background-color: #f9faf8;
}

h2{
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pics{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    gap: 5px;
}

.mainImg{
    justify-self: center;
    border-radius: 5px;
}

.p-pics{
    font-size: 8px;
    text-align: center;
}

.div2{
    margin-top: 50px;
    background-color: #bfc2c7;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 12em;
}

.thor{
    font-weight: bold;
    font-size: 10px;
    align-self: flex-end;
}

.quote{
    color: #1f2937;
    font-style: italic;
    font-style: light italic;
}

.div3{ 
    background-color: #f9faf8;
    padding: 50px 0;
}

.call-to-action{
    background-color: #3882f6;
    width: 30em;
    height: 5em;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.button-text-div{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.text-bold{
    font-weight: bold;
    font-size: 0.7rem;
}

.text-bold,
.text-button {
    color: white;
    font-size: 0.4rem;
    align-self: start;
}

.button{
    border: solid 1px white;
    height: 20px;
    padding: 0 20px;
    align-self: center;
}

.footer{
background-color: #1f2937;
padding: 20px 0;
text-align: center;
}

.footer-text{
    font-size: 8px;
    color: white;
}