*{
    margin: 0;
    padding: 0;
}



.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 150px;
    background-color: #1f2937;
}



.nav{
    display: flex;
    font-size: 8px;
    gap: 10px;
    list-style: none;

}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 8px;
    padding: 0 5px;
}

.header-2{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    gap: 30px;
    padding: 40px 0;
}

.headline{
    width: 15em;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 20px;
    color: #f9faf8;
}

p{
    font-size: 9px;
    color: #E5E7EB;
    margin: 3px 0;
}

.button{
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 4px 12px;
    font-size: 9px;
    font-weight: bold;
}